$main-dark-color: #ff6b6b;
$main-text-color: black;
$main-contrast-color: white;
$hover-text-color: white;
$background-theme: #ede6f2;
$slider-theme: #292f36;
$light-hover: rgba(0, 0, 0, 0.04);

$cards-margin: 20px;
$meal-page-margins: 30px;
