.app-bar {
  position: fixed;
  z-index: 3;

  padding: 0 100px;
  background-color: $main-dark-color;

  &__link {
    margin-right: 50px;
  }

  &__button {
    text-transform: none;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $main-contrast-color;
    }

    &:active {
      @include app-bar-hover;
    }

    &--hover {
      @include app-bar-hover;

      &:hover {
        border: 1px solid $main-contrast-color;
        color: $hover-text-color;
      }
    }
  }

  &__button-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3px;
  }

  &__icons {
    margin-right: 5px;
  }

  &__log-button {
    padding: 5px 40px;

    border: 2px solid $main-contrast-color;

    color: $hover-text-color;
    text-transform: none;

    transition: all 0.5;

    &:hover {
      @include app-bar-hover;
    }
  }
}
