.app-bar {
  padding: 0 100px;
  background-color: black;

  &__button {
    margin-right: 50px;
    text-transform: none;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid white;
    }
  }

  &__button-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__icons {
    margin-right: 5px;

    &--hover {
      background-color: wheat;
    }
  }

  &__log-button {
    padding: 5px 40px;

    border: 2px solid white;

    color: white;
    text-transform: none;


    transition: all 0.5;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}
