.article {
  background-color: $background-theme;

  @include main-font;
  font-size: 1rem;

  &__container {
    max-width: 1200px;
    padding: 100px;
    margin: 0 auto;

    background-color: $main-contrast-color;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__title-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--title {
      font-size: 2em;
      font-weight: 600;
    }

    &--link {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      padding: 4px 6px;
      margin-right: 10px;

      border: 1px solid transparent;
      border-radius: 4px;

      transition: border-color 0.5s;

      &:hover {
        background-color: $light-hover;
      }
    }

    &--arrow {
      display: flex;
      justify-content: center;
      width: 1em;
      padding-left: 5px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__image-box {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin: 40px auto;
    // background-color: $background-theme;
    // border-radius: 10px;
    padding: 0 20px;
  }

  &__tags {
    display: flex;
    justify-content: space-around;
    gap: 20px;

    &--tag {
      display: block;
      width: max-content;

      background: #ffffff;
      border: 1px solid grey;

      font-size: 15px;
      text-align: center;
      color: $main-text-color;
      text-transform: none;
    }
  }

  &__facts {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: flex-end;

    width: 100%;
    padding: 30px 40px;
  }

  &__info {
    margin-top: $meal-page-margins;
  }

  &__category {
    font-weight: normal;
  }

  &__youtube {
    text-decoration: underline;
  }

  &__hours {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__ingredients {
    margin-top: $meal-page-margins;
    display: flex;
    justify-content: space-between;
  }

  &__ingredients-list {
    margin-top: $meal-page-margins / 2;
    margin-left: 15px;
    font-size: 18px;
  }

  &__line {
    margin-top: $meal-page-margins + 10;
  }

  &__recipe {
    margin-top: $meal-page-margins;
    margin-left: 15px;
    font-weight: 600;
  }

  &__recipe-steps {
    margin-top: 10px;
    font-size: 16px;
  }

  &__recipe-steps span {
    font-weight: 400;
  }

  &__time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &--text {
      font-weight: bold;
    }
  }

  &__steps {
    display: block;
    margin-top: 40px;
    text-transform: uppercase;
  }

  &__video {
    border: none;
  }
}
