.meals-container {
  margin-top: 100px;

  &__card {
    display: flex;
    justify-content: center;
  }
}

.card {
  width: 286px;
  padding: 24px;

  border-radius: 5%;

  &__content {
    padding: 0;
    margin-bottom: 24px;
  }

  &__title {
      margin-bottom: 24px;
      height: 51px;

      font-size: 1.3rem;
    }

    &__image {
      margin-bottom: 24px;
    }

  &__actions {
    padding: 0;

    &--tags {
      margin-bottom: 24px;
    }

    &--link {
      font-family: 'Roboto';

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__details-button {
    border: 1px solid black;

    text-transform: none;
    color: black;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  transition: all 0.5s;

  &:hover {
    -webkit-box-shadow: 2px 5px 14px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 2px 5px 14px 5px rgba(0, 0, 0, 0.26);
  }
}
