.sidebar-container {
  position: fixed;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25%;
  height: 100vh;

  background-color: $slider-theme;
  color: white;
}

.sidebar {
  width: 70%;

  margin-top: 100px;

  @include main-font;

  &__title {
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__button {
    height: 50px;

    &--submit {
      margin-top: 30px;

      border: 1px solid transparent;

      background-color: $main-dark-color;
      color: $hover-text-color;

      &:hover {
        border: 1px solid $main-dark-color;

        background-color: grey;
      }
    }

    &--reset {
      margin-top: 20px;

      // border: 1px solid $main-dark-color;

      background-color: $main-contrast-color;
      color: $main-text-color;

      &:hover {
        border: none;

        background-color: $main-dark-color;
        color: $hover-text-color;
      }
    }
  }
}
